server:
    port: 8080

spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://localhost:5432/customer
    username: user
    password: 123

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop  # use 'update' in production
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
